{{#if showArticleForm}}
  <h4>New Article</h4>
  <div>
    <form>
      <div class="form-group">
        <label for="title">Title:</label>
        {{input value=title id="title"}}
      </div>
      <div class="form-group">
        {{#x-select value=dropdown}}
          {{#x-option value="news"}}News{{/x-option}}
          {{#x-option value="entertainment"}}Entertainment{{/x-option}}
          {{#x-option value="fashion"}}Fashion &amp; Beauty{{/x-option}}
          {{#x-option value="lifestyle"}}Lifestyle{{/x-option}}
          {{#x-option value="books"}}Books{{/x-option}}
        {{/x-select}}
      </div>
      <div class="form-group">
        <label for="author">Author:</label>
        {{input value=author id="author"}}
      </div>
      <div class="form-group">
        <label for="body">Body:</label>
        {{input value=body id="body"}}
      </div>
      <div class="form-group">
        <label for="image">Image URL:</label>
        {{input value=image id="image"}}
      </div>
      <button {{action 'submitNewArticle'}} class="btn btn-primary">Submit</button>
    </form>
  </div>
{{else}}
  <button {{action 'makeNewArticle'}}class="btn btn-primary">New Article</button>
{{/if}}
